/* -- Root -- */
:root{

    --primary-color: #11120d;
    --secondary-color: #565449;
    --accent-color: #D8CFBC;
    --p-font-color: #fffbf4;
    --h-font-color: #4f493f;

    --primary-light-color: #fffbf4;
    --secondary-light-color: #D8CFBC;
    --accent-light-color: #4f493f;
    --p-font-light-color: #11120d;
    --h-font-light-color: #565449;

    --font-size: 1.125rem;
    --header-size: 2.125rem;

    --logo-img-w: 50px;
    --logo-img-h: 50px;

    --icon-w: 25px;
    --icon-h: 25px;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: var(--p-font-color);
}
/*  navbar */
nav {
    height: 12vh;
    width: 100vw;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    height: 12vh;
    position: relative;
}

.nav_left {
    display: flex;
    gap: 3ch;
    justify-content: space-around;
}

    .nav-logo > i {
        font-size: 2rem;
        display: flex;
        align-items: center;
    }
    .nav-name {
        font-size: 1.25rem;
        font-weight: 500;
        display: flex;
        align-items: center;
        font-family: 'Montserrat';
    }

.nav_right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.nav_search-input .search-bar{
    display: flex;
    padding: 10px;
    align-items: center;
    height: 40px;
    width: auto;
    background-color: var(--primary-color);
    border-radius: 30px;
}

.nav_search-input .search-bar input{
    width: 100%;
    background-color: transparent;
    font-family: "Montserrat";
    outline: none;
    border: none;
    color: var(--text-color);
}

.search-bar .search-bar_btn{
    background-color: transparent;
    padding: 10px;
    color: var(--text-color);
    border: none;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.3s all ease-in;
}

.nav_search-input .search-bar button:hover{
    background-color: var(--accent-color);
    color: var(--primary-color);
}

.nav_profile {
    font-size: x-large;
    display: flex;
    align-items: center;
}
.nav_filter {
    font-size: x-large;
    display: flex;
    align-items: center; 
}

/* main */
main {
    padding: 2rem;
    height: 80vh;
    width: 100vw;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    gap: 2rem;
 
}

    .main_new-note {
        display: flex;
        justify-content: center;
        margin: auto;
        padding: 0.75rem;
        flex-direction: column;
        align-items: center;
        border: dashed var(--accent-color);
        border-radius: 25%;
        width: 7rem;
        height: 7rem;
        cursor: pointer;
        transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    }
    .main_new-note:hover{
        transform: scale(1.1);
    }

    .main_new-note > i {
        padding: 0.5rem;
    }


    .note-modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: var(--secondary-color);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }

    .note-modal-content {
        background-color: var(--primary-color);
        color: var(--p-font-color);
        padding: 2rem;
        border-radius: 1rem;
        width: 70vw;
        height: 90vh;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
        display: flex;
        flex-direction: column;
        gap: 1rem;
        font-family: "Montserrat";
    }
        .note-title {
            width: 100%;
            height: 4rem;
            border-radius: 1rem;
            font-size: var(--header-size);
            font-weight: bold;
            resize: none;
            font-family: "Montserrat";
            padding: 0.5rem 1rem;
            border-bottom: 2px solid var(--secondary-color);
            background-color: var(--secondary-light-color);
            color: var(--p-font-light-color);
            outline: none;
        }

        .note-content {
            flex-grow: 1;
            width: 100%;
            resize: none;
            padding: 1.25rem;
            font-size: var(--font-size);
            border-radius: 1rem;
            border: 1px solid var(--secondary-color);
            font-family: "Montserrat";
            background-color: var(--secondary-light-color);
            color: var(--p-font-light-color);
        }


    .modal-actions {
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
    }

        .modal-actions button {
            height: 3rem;
            width: 6rem;
            border-radius: 2rem;
            font-family: "Montserrat";
            font-weight: bold;
            background: var(--accent-color);
            box-shadow: 0 4px 15px var(--secondary-color);
            cursor: pointer;
            transition: transform 0.3s ease-in-out;
        }
            .modal-actions button:hover{
                transform: scale(1.1);
                box-shadow: 0 5px 20px var(--secondary-color);
            }


.note-tags {
    height: 2.5rem;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    font-size: var(--font-size);
    font-family: "Montserrat";
    background-color: var(--secondary-light-color);
    color: var(--p-font-light-color);
    outline: none;
    border: 1px solid var(--secondary-color);
}

.note-tag{
    background-color: var(--accent-color);
    color: var(--p-font-light-color);
    padding: 0.2rem 0.5rem;
    border-radius: 1rem;
}


.note-card{
    background-color: var(--accent-color);
    color: var(--p-font-light-color);
    width: 15rem;
    height: auto;
    min-height: 10rem;
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    font-family: "Montserrat";
}
    .note-card h3{
        font-size: var(--header-size);
        margin-bottom: 0.5rem;
    }
    
    .tag{
        margin-top: 0.5rem;
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        font-size: 0.9rem;
        font-family: "Montserrat";
        font-style: italic;
    }
    .note-date {
        font-size: 0.9rem;
        font-family: "Montserrat";
        font-style: italic;
        color: var(--p-font-light-color);
        margin-bottom: 0.5rem;
    }

    .note-btn button {
        background-color: transparent;
        color: var(--h-font-light-color);
        font-size: var(--font-size);
        border: none;
    }
    

.container{
    height: 100%;
    max-height: calc(100%-8rem);
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
}

/* footer */
footer {
    height: 8vh;
    width: 100vw;
    background-color: var(--secondary-color);
    color: var(--p-font-color);
    display: flex;
    align-items: center;
    justify-content: center;
}


/*------------------------Login Page----------------------------------*/